/*
	Admin styles for Thesography options page
	
	Author: kristarella
	Author URL: http://www.kristarella.com
*/

#thesography_options label {font-weight:bold; display:block; float:left; width:200px; height:29px; padding:3px 10px 3px 0; text-align:right;}

#thesography_options ul.checkboxes li {padding-left:100px;}
#thesography_options ul.checkboxes label {float:none; display:inline;}